/* All common CSS start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul,
ol {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  line-height: 0.8;
}
/* All common CSS end */
/* Lightbox part start */
#lightBox {
  background-image: linear-gradient(
    to right top,
    #c3e000,
    #0bca65,
    #00a698,
    #007da1,
    #00527e
  );
}

.light {
  padding: 100px 0px;
}

#venoBox {
  background: #221c94;
background: linear-gradient(90deg,rgba(34, 28, 148, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.veno {
  padding: 100px 0;
}

.videoBox {
  padding-top: 5%;
  position: relative;
}

.yourww {
  font-size: 100px;
  color: red;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}